* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fffaf3;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #fff;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #f85de3;
}

.hero-text p {
  margin: 20px 0;
  max-width: 400px;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

.hero-img img {
  width: 300px;
  border: 4px solid #d387b6;
  border-radius: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}



.services {
  padding: 60px;
}

.services h2 {
  text-align: center;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 30px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}


.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 50px;
  background: #ca9ed14f;
  color: #fff;
}

.stats h3 {
  font-size: 36px;
  font-style: oblique;
   text-align: center;
}



footer {
  padding: 60px;
  text-align: center;
  background: #85838323;

}

.about {
  padding: 60px;
  background: #fff0f8;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap; 
}

.about-left, .about-right {
  flex: 1;
  min-width: 300px; 
}

.about-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}

.about-text {
  line-height: 1.8;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.about-right h3 {
  color: #f85de3;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: right;
  letter-spacing: 1px;
  font-weight: 1000;
  
}

.about-right .about-intro {
  text-align: right;
  font-size: 16px;
  color: #555;
}
.stats {
  padding: 45px;
  text-align: center;
}
#experience h2 {
  color: #000; 
  
}
.project-cards {
  display: flex;
  justify-content: space-between; 
  gap: 20px;

  max-width: 900px;
  margin: 0 auto;
}

.project-card:first-child {
  order: 2; 
}

.project-card:last-child {
  order: 1;
}

.project-card {
  flex: 1 1 45%;
  max-width: 45%;

  border-radius: 10px;
 
  padding: 20px;
  
  background-size: cover;      
  background-position: center;  
  position: relative;
  transition: transform 0.3s;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(27, 24, 24, 0.26); 
  z-index: 0;
}

.project-card h3,
.project-card p,
.project-card button {
  position: relative; 
  z-index: 1;
}

.project-card button {
  background-color: #f199e5b0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.project-card button:hover {
  background-color: #d43ac2bd;
}

.project-card:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .project-cards {
    justify-content: center;
  }
}
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons .icon {
  width: 65px;
  height: 40px;
    border-radius: 250px; 
  transition: transform 0.3s;
}

.social-icons .icon:hover {
  transform: scale(1.2);
}
.profile-title {
  margin-top: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f85de3; 
  text-align: center;
  font-size: 35px;
}